@page
@model SubscriptionsModel
@{
    ViewData["Title"] = ManageNavPages.Subscriptions;
    ViewData["ActivePage"] = ManageNavPages.Subscriptions;
}
<h4 class="mb-4">@ViewData["Title"]</h4>
<div class="bg-dark card mb-3 text-white">
    <div class="card-header">
        SUBSCRIPTIONS
    </div>
    <table class="mb-0 table table-borderless table-dark table-hover">
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
            </tr>
        </tbody>
    </table>
</div>
