@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using eDoxa.Identity.Api.Services
@using Microsoft.Extensions.Hosting
@inject ISignInService SignInService
@inject IWebHostEnvironment HostingEnvironment
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eDoxa</title>
    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/bootstrap-custom.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" rel="stylesheet" />
        <link href="~/css/bootstrap-custom.min.css" rel="stylesheet" />
    </environment>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="~/css/site.css" rel="stylesheet" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <header>
        <nav class="bg-dark border-bottom box-shadow mb-3 navbar navbar-expand-sm navbar-dark navbar-toggleable-sm">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">eDoxa</a>
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    @if (HostingEnvironment.IsDevelopment() && SignInService.IsSignedIn(User) && !(ViewData["signed-out"] is bool))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-link text-dark">
                                <a asp-action="Index" asp-area="" asp-controller="Grants" class="nav-link text-white">
                                    Grants
                                </a>
                            </li>
                            <li class="nav-link text-dark">
                                <a asp-action="Index" asp-area="" asp-controller="Device" class="nav-link text-white">
                                    Device
                                </a>
                            </li>
                            <li class="nav-link text-dark">
                                <a asp-action="Index" asp-area="" asp-controller="Diagnostics" class="nav-link text-white">
                                    Diagnostics
                                </a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <div class="row w-100">
                    <div class="col-12">
                        <div class="text-center">
                            <span class="text-muted">&copy; @DateTime.Now.Year eDoxa - All rights reserved. - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    @RenderSection("Scripts", false)
</body>
</html>