@{
    var version = typeof(IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}
<h1 class="mt-4">
    <img src="~/images/icon.jpg" alt="icon">
    <span class="align-middle">Welcome to IdentityServer4</span>
    <small class="align-middle">(version @version)</small>
</h1>
<p class="mt-4">
    IdentityServer publishes a <a href="~/.well-known/openid-configuration">discovery document</a> where you can find metadata and links to all the endpoints, key material, etc.
</p>