<div class="row">
    <div class="col-10 offset-1">
        <div class="alert alert-success mt-5" role="alert">
            <h4 class="alert-heading">Success</h4>
            <p class="mb-0">You have successfully authorized the device!</p>
        </div>
    </div>
</div>